import React,{useState} from 'react';
import {StyleSheet, Text, TouchableOpacity,View} from 'react-native';
import type {PropWithChildren} from 'react';

const FlexDirectionBasics = () => {
    const [flexDirection, setflexDirection] = useState('column');

    return(
        <PreviewLayout
        label = "flexDirection"
        values = {['column','row','row-reverse','column-reverse']}
        selectedValue = {flexDirection}
        setSelecedValue = {setflexDirection}>
        <View style = {[styles.box,{background-color: 'powderblue';}]}/>
        <View style = {[styles.box,{background-color: 'skyblue';}]}/>
        <View style = {[styles.box,{background-color: 'steelblue';}]}/>
        </PreviewLayout>
    );
};








































